<div class="uiHud">
	<div class="portraitBox">
		<div class="portrait"></div>
	</div>
	<div class="boxes">
		<div class="statBox">
			<div class="statHp"></div>
			<div class="text"></div>
		</div>
		<div class="statBox">
			<div class="statMana"></div>
			<div class="statManaReserve"></div>
			<div class="text"></div>
		</div>
		<div class="statBox">
			<div class="statXp"></div>
			<div class="text"></div>
		</div>
	</div>
</div>
